* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f8f8d9;
}
h1,h2,h3 {
    font-family: 'andreas';
    color: #3C2A21;
}
p {
    font-family: 'fragment core';
    color: #3C2A21;
}

body header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #725E46;
    padding: 3% 0% 3% 0%;
}

body header nav ul li a {
    text-decoration: none;
    color: white;
}


/* home landing img */
#home main div img:nth-child(1) {
    width: 100vw;
    padding-bottom: 5%;
}
/* two cover up img's */
#home main section img:nth-child(1) {
    transition:transform 0.25s ease;
}
#home main section img:nth-child(1):active {
    transform:scale(1.5);
}
#home main section img:nth-child(2) {
    transition:transform 0.25s ease;
}
#home main section img:nth-child(2):active {
    transform:scale(1.5);
}


#home main section img:nth-child(1) {
    position: relative;
    width: 20vw;
    margin: 10% 0% 0% 7%;
}
#home main section img:nth-child(2) {
    width: 20vw;
    margin-left: -8%;
}

#home main section {
    display: flex;
    align-items:start;
    justify-content: right;
}

#home main section div {
    display: flex;
    flex-direction: column;
    padding: 0% 3% 0% 3%;
}

#home main article {
    margin: auto;
    width: 75%;
    padding-top: 20%;
    padding-bottom: 20%;
}

/* Footer home page */
.square {
    position: absolute;
    z-index: -1;
    background-color: #725E46;
    width: 100vw;
    height: 30%;
}

footer ul {
    display: flex;
    list-style-type: none;
    color: white;
    flex-direction: column;
    padding-top: 6%;
    margin-left: -8%;
}

footer h4 {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 15% 0% 0% 4%;
    margin-left: -8%;
}

footer div:nth-child(2) {
    display: flex;
}

footer ul li {
    padding-top: 10%;
    margin-left: -15%;
    font-size: small;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    flex-wrap: wrap;
}

footer p {
    color: white;
    margin-top: 2%;
    margin-left: 7%;
}

/* Image elament */
.squaretwo {
    position: absolute;
    z-index: -1;
    background-color: #725E46;
    width: 59%;
    height: 20%;
    margin-top: 28%;
}

#home main div:nth-child(3) img {
    width: 42%;
    margin-left: 10%;
}

#home main div:nth-child(3) {
    padding-top: 20%;
}

/* Duurzaamheid pagina */
#duurzaamheid main div img:nth-child(1) {
    width: 100vw;
}

#duurzaamheid main div:nth-child(3) figure img:nth-child(1) {
    width: 30%;
    margin: 0% 7% 0% 7%;
}
#duurzaamheid main div:nth-child(3) figure img:nth-child(2) {
    width: 35%;
    margin: 0% 7% 0% 7%;
}
#duurzaamheid main div:nth-child(3) figure img:nth-child(1) {
    transition:transform 0.25s ease;
}
#duurzaamheid main div:nth-child(3) figure img:nth-child(1):active {
    transform:scale(1.5);
}
#duurzaamheid main div:nth-child(3) figure img:nth-child(2) {
    transition:transform 0.25s ease;
}
#duurzaamheid main div:nth-child(3) figure img:nth-child(2):active {
    transform:scale(1.5);
}


#duurzaamheid main div:nth-child(3) figure div {
    display: flex;
    justify-content: center;
}
#duurzaamheid main div:nth-child(3) figure p {
    padding: 5%;
    padding-bottom: 15%;
}

#duurzaamheid main article p:nth-child(3) {
    padding: 5%;
    width: 60%;
    color: white;
}

.squaresix {
    background-color: #725E46;
    width: 100%;
    height: 41%;
    position: absolute;
    z-index: -1;
}

#duurzaamheid main article img:nth-child(2) {
    width: 30%;
    height: 60%;
    margin: 8% 5% 5% 8%;
}
#duurzaamheid main article img:nth-child(2) {
    transition:transform 0.25s ease;
}
#duurzaamheid main article img:nth-child(2):active {
    transform:scale(1.5);
}

#duurzaamheid main article {
    display: flex;
    flex-direction: row;

}

/* List item duurzaamheid */
#duurzaamheid main article p {
    padding: 5%;
}
#duurzaamheid main div:nth-child(5) img {
    width: 15%;
    margin-left: 40%;
}

#duurzaamheid main div:nth-child(4) img:nth-child(1) {
    width: 50%;
    height: 55%;
}

#duurzaamheid main h1 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

/* landing page */
#landing header img {
    width: 100%;
    position: absolute;
    z-index: +1;

    animation: move;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease;
}

@keyframes move {
    from{top: 100%;}
    to{top: 0%}
}

#landing {
    background-color: #725E46;
}

#landing main img:nth-child(2) {
    width: 100vw;
    z-index: -1;
    opacity: 70%;
}

#landing main div img:nth-child(1) {
    width: 50%;
    float: inline-start;
    margin-left: 25%;
    position: absolute;
    top: 60%;

    animation: fadein;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

@keyframes fadein {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

/* Het verhaal pagina */
#verhaal main div:nth-child(1) img {
    width: 100%;
    padding-bottom: 20%;
}

.squarethree {
    position: absolute;
    background-color: #725E46;
    width: 30%;
    height: 20%;
    margin-top: 20%;
    z-index: -1;
}

#verhaal main section div img:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    height: 20%;
    padding: 5%;
    width: 400%;
}

#verhaal main section div:nth-child(1) {
    display: flex;
    flex-direction: row;
}

#verhaal main section div div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#verhaal main section div p {
    padding-right: 10%;
}
#verhaal main section div h2 {
    margin-top: 40%;
}

#verhaal footer {
    padding-top: 25%;
}

/* reversed  */
#verhaal main section div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

#verhaal main section div:nth-child(2) p:nth-child(1) {
    padding-left: 10%;
    margin-top: 45%;
}
#verhaal main section div:nth-child(2) img:nth-child(1) {
    padding-left: 10%;
    margin-top: 25%;
}

.squarefour {
    position: absolute;
    background-color: #725E46;
    width: 40%;
    height: 15%;
    z-index: -1;
    margin-top: 40%;
}

/* background images */
#verhaal main div:nth-child(4) img {
    z-index: -1;
    opacity: 40%;
    position: absolute;
    margin-top: -270%;
}

#home main div:nth-child(5) img {
    z-index: -1;
    opacity: 40%;
    position: absolute;
    margin-top: -280%;
}

#duurzaamheid main div:nth-child(6) {
    z-index: -2;
    opacity: 40%;
    position: absolute;
    margin-top: -660%; 
}

/* gallery */
.gallery {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.gallery img {
    width: 30%;
}

#verhaal main h3 {
    padding: 20% 0% 10% 0%;
    display: flex;
    justify-content: center;
}

footer {
    font-family: 'Fragment core';
}
nav {
    font-family: 'Fragment core';
}

#home nav ul li:nth-child(1) a {
    color: #49fa58;
}
#duurzaamheid nav ul li:nth-child(2) a {
    color: #49fa58;
}
#verhaal nav ul li:nth-child(3) a {
    color: #49fa58;
}

#verhaal main div:nth-child(7) img {
    width: 40%;
    margin-left: 30%;
}